POSTGRES_USER='your_postgres_user'
POSTGRES_PASSWORD='your_postgres_password'
DB_NAME='your_database_name'
DB_PORT='5432'
DATABASE_URL='postgresql://your_postgres_user:your_postgres_password@localhost:5432/your_database_name/schema=public'